{% extends "base.html" %}
{% block content %}
<p>This a small flask application using yagamil and news.io API to get the latest news about a key word and send it to your email. <br>
    this will only send once and will not subscribe you to the newsletter as this is an example website and for practice
</p>
<p> Tried the aoutmated email program inside flask to see how it integrates inside the the framework </p>
<p> Future versions will include the from and to dates, multiple interests and better layout for the email.
</p>
<br><br><br>
<br>
reference to the image: <a href="https://www.freepik.com/vectors/person">Person vector created by freepik - www.freepik.com</a>

{% endblock %}